$default-font-size: 1.4rem;

$color-white: rgb(255,255,255);
$color-black: rgb(11,11,11);
$color-grey-light: rgb(191, 191, 191);
$color-grey-dark: rgb(125, 125, 125);
$color-background: rgb(215, 215, 215);